:root {
  --colorPrincipal: #b72727;
}

body {
  font-family: "Poppins";
}

.btnPrincipal {
  color: white;
  background-color: var(--colorPrincipal);
  border-radius: 5px;
}

.btnPrincipal:hover {
  transition-duration: 0.2s;
  background-color: transparent;
  color: var(--colorPrincipal);
  border: 1px var(--colorPrincipal) solid;
}

.btnPrincipal:disabled {
  color: white;
  background-color: var(--colorPrincipal);
  border-radius: 5px;
}

.btnComecaAgora {
  color: white;
  background-color: var(--colorPrincipal);
  border-radius: 5px;
}

.btnComecaAgora:hover {
  transition-duration: 0.2s;
  background-color: transparent;
  color: white;
  border: 1px white solid;
}

.containerList {
  background-color: var(--colorPrincipal);
  color: white;
  height: 10%;
  border-radius: 5px;
}

.containerList:hover {
  transition-duration: 0.2s;
  transform: scale(1.02) perspective(1px);
  box-shadow: 3px 3px rgba(183, 39, 39, 0.5);
  cursor: pointer;
}

.btnArrow {
  color: white;
}

.btnArrow:hover {
  transition-duration: 0.2s;
  transform: scale(1.8) perspective(1px);
  cursor: hand;
}

.btnPlus {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;
  border-radius: 50%;
  color: white;
}

.btnPlus:hover {
  transition-duration: 0.2s;
  transform: scale(1.1) perspective(1px);
  cursor: hand;
  color: #ffffff;
}

.btnClose {
  border: 1px rgba(0, 0, 0, 0.8) solid;
}

.btnClose:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.buttonBorder {
  background-color: black;
}
